{% assign bgimg = section.settings.bgimg %}
<div class="ctaheader2">
    <div class="ctaheader2_img">
      <style>
        .ctaheader2_img{
        {% if section.settings.parallax %}
            background-attachment: scroll, fixed;
        {% endif %}
        background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(17, 17, 17, 0.5)), to(rgba(17, 17, 17, 0.5))), url({% if bgimg == blank%}'https://www.boodl.xyz/images/trees-and-birds.jpg'{%else%}{{ bgimg | img_url: "master"}}{%endif%});
      background-image: linear-gradient(180deg, rgba(17, 17, 17, 0.5), rgba(17, 17, 17, 0.5)), url({% if bgimg == blank%}'https://www.boodl.xyz/images/trees-and-birds.jpg'{%else%}{{ bgimg | img_url: "master"}}{%endif%});
        }
        .ctah2-heading-jumbo {
          font-size: {{section.settings.fontsize}}px;
          line-height: {{section.settings.fontsize | times: 1.2 }}px
        }

      </style>
      <div class="ctah2-intro-content">
        <div class="ctah2-intro-text">
          <div class="ctah2-heading-jumbo">{{section.settings.titletext}}</div>
          <div class="ctah2-paragraph-bigger ctah2-cc-bigger-light">{{section.settings.content}}</div>
        </div>
        {% if section.settings.button %}
        <a href="{{ section.settings.buttonlink}}" class="ctaheader2-btn">
          <button class="btn ctaheader2-btncolor">{{ section.settings.buttontext }}</button>
        </a>
        <style>
        .ctah2-intro-text {
          margin-bottom: {{ section.settings.space }}px;
        }
        .ctaheader2-btncolor{
            {% if section.settings.btn_color != blank %} background-color:{{ section.settings.btn_color }}; {% endif %}
            {% if section.settings.btntext_color != blank %} color:{{ section.settings.btntext_color }}; {% endif %}
        }
        .ctaheader2-btncolor:hover{
            {% if section.settings.btn_color != blank %} background-color:{{ section.settings.btn_color | color_darken: 10 }} !important; {% endif %}
            {% if section.settings.btntext_color != blank %} color:{{ section.settings.btntext_color }} !important; {% endif %}
        }
          </style>
          {%endif%}
      </div>
    </div>
  </div>

{% schema %}
  {
    "name": "CTA Header 2",
    "settings": [
  {
      "id": "titletext",
      "type": "text",
      "label": "Title",
    "default": "United In Change."
    },
  {
      "type":   "range",
      "id":     "fontsize",
      "min":       32,
      "max":       80,
      "step":      8,
      "unit":      "px",
      "label":     "Title font size",
      "default":   64
    },
  {
      "type": "textarea",
      "id": "content",
      "label": "Main Text",
      "default": "Integrating sustainability into the heart of your business, brand, or organization."
    },
  {
      "type":      "checkbox",
      "id":        "parallax",
      "label":     "Parallax effect",
      "default":   true
    },
  {
          "id": "bgimg",
          "type": "image_picker",
          "label": "Background image"
    },
    {
      "type": "header",
      "content": "Call to Action Button"
    },
    {
      "type":      "checkbox",
      "id":        "button",
      "label":     "Include Call to Action",
      "default":   true
    },
  {
      "id": "buttontext",
      "type": "text",
      "label": "Button text",
    "default": "View the collections"
    },
    {
      "type": "url",
      "id": "buttonlink",
      "label": "Button Link"
    },
  {
      "id": "btn_color",
      "type": "color",
      "label": "Button color"
    },
    {
      "id": "btntext_color",
      "type": "color",
      "label": "Button Text color"
    },
    {
      "type":   "range",
      "id":     "space",
      "min":       16,
      "max":       96,
      "step":      8,
      "unit":      "px",
      "label":     "Space between text and button",
      "default":   32
    }
  ],
  "presets": [{
    "name": "CTA Header 2",
    "category": "Boodl: Title Headers"
    }]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
